<header class="cursos d-flex align-center justify-center">
  <div class="container form">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="row no-gutters">
          <div class="col-md-12 col-12 p-3">
            <h2>Pongase en contacto</h2>
            <p style="color:white;">Si esta interesado en trabajar con nosotros, contactenos.</p>
          </div>
          <div class="col-md-12 col-12 p-3">
            <p><i class="fa fa-map"></i>&nbsp;&nbsp;Montevideo - Uruguay</p>
          </div>
          <div class="col-md-12 col-12 p-3">
            <p><i class="fa fa-phone"></i>&nbsp;&nbsp;(+598) 092 373 228</p>
          </div>
          <div class="col-md-12 col-12 p-3">
            <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;<a
                href="mailto:info@coachbeachvolley.com">info@coachbeachvolley.com</a></p>
          </div>

        </div>
      </div>
      <div class="col-md-8 col-12">
        <form>
          <div class="row no-gutters">
            <div class="col-md-12 col-12 p-3">
              <h2>Formulario</h2>
            </div>
            <div class="col-md-4 col-12 form-group  p-3 mb-0">
              <input type="text" placeholder="Nombre" class="form-control">
            </div>
            <div class="col-md-4 col-12 form-group  p-3 mb-0">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="col-md-4 col-12 form-group p-3 mb-0">
              <input type="text" placeholder="Asunto" class="form-control">
            </div>
            <div class="col-md-12  col-12 form-group p-3 mb-0">
              <textarea type="text" placeholder="Asunto" rows="5" class="form-control"></textarea>
            </div>
            <div class="col-md-12 col-12 p-3">
              <button class="btn btn-success">ENVIAR AHORA</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</header>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>