<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>

<body>
    <header class="header">
        <div class="container-fluid topbar">
            <div class="row">
                <div class="col-md-4 col-12">
                    <span><i class="fa fa-phone"></i>&nbsp;Telefono : (+598) 092 373 228</span>
                </div>
                <div class="col-md-4 col-12">
                    <span><i class="fa fa-envelope"></i>&nbsp;Email : info@coachbeachvolley.com</span>
                </div>
                <div class="col-md-4 col-12 link-acceder">
                    
                        <span>(<a>Acceder</a>)</span>
                </div>
            </div>
        </div>
    </header>
    
<style>
    .header{
        background:#171717;
        padding-top:5px;
        padding-bottom: 5px;
    }
    .topbar{
        color:white!important;
    }
    .link-acceder{
        display:flex;
        justify-content: flex-end;
    }
    body{
        font-family: Montserrat!important;
    }
    a{
        color:goldenrod!important;
    }
    .gold{
        color:goldenrod!important;
    }
    .title{
        font-weight: 700;
        color:white;
    }
    .slider{
        background: #2b3b48;
        height:70vh;
        background-image: url('<?php echo PUBLIC_PATH."img/beach volley.png" ?>');
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .cursos{
        background: #2b3944;
        height:70vh;
        background-image: url('<?php echo PUBLIC_PATH."img/beach volley.png" ?>');
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .portfolio{
        height:70vh;
        background-image: url('<?php echo PUBLIC_PATH."img/fondo-portfolio.png" ?>');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .d-flex{
        display:flex;
    }
    .align-center{
        align-items: center;
    }
    .justify-center{
        justify-content: center;
    }
    .btn{
        font-weight: 700;
        font-size: 10;
        padding-right: 29px;
        padding-top: 10px;
        padding-bottom: 10px;
        }
    .btn-success{
        background-color: GOLDENROD;
        border-color: GOLDENROD;
        border-radius: 0;    
    }
    .texto-slider{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }
    .font-weight-bold{
        font-weight: 900;
    }
    .card{
        border-radius: 0;
    }
    .cursos .curso1{
        background: #2e7a78;
    }
    .cursos .curso2{
        background: #0089bd;
    }
    .cursos .curso3{
        background: #617171;       
    }
    .card-title{
        color:white;
    }
    .card-text{
        font-size: 12px;
        color: white;
    }
    .card a{
        padding: 8px 13px 8px 13px;
        background: #00000047;
    }
    h2{
        font-weight: 900;
        color: white;
        font-size: 45;
    }
    .grid-portfolio{
        display:grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-gap: 5px;

    }
    .single-portfolio{
        position:relative;
    }   
    .img-portfolio{
        background-image: url('<?php echo PUBLIC_PATH."img/fotocurso1.jpg" ?>');
        background-size:cover;
        background-repeat:no-repeat;
        width:100%;
        height:150px;
        background-position: center;

    }     
    .portfolio-layer{
        position:absolute;
        width:100%;
        background:goldenrod;
        opacity: 0;
        height:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        -webkit-transition: opacity  .4s ease-in-out;
        -moz-transition: opacity .4s ease-in-out;
        -ms-transition: opacity  .4s ease-in-out;
        -o-transition: opacity  .4s ease-in-out;
        transition: opacity  .4s ease-in-out;

    }
    .portfolio-layer-title{
        font-size:16px;
        color:white;
        font-weight: 800;
        margin-bottom: 0;
        z-index: 1;
        opacity: 1;
    }
    .portfolio-layer p{
        color:white;
        margin-bottom: 0;
    }
    .portfolio-layer:hover{
        opacity: 0.8;
        visibility: visible;
    }
    .form{
        background: #171717;
    }
    .form-control{
        border-radius: 2px;
    }
    .form h2{
        font-size: 20px; font-weight:700;   }
        i{
            color: goldenrod;
        }
    .form p{
        color:white;
    }
    h3{
        font-weight: 700;
        color: white;
        font-size: 24;
    }
    @media(max-width:1200px){
        h3{
            font-size: 16px;
        }
    }
    .middle-slider{
        background: linear-gradient(to right,#643ab6,#017efa);
    }
    .img-review{
        position:relative;
    }
    .comillas{
        position:absolute;
        right:5%;
        width: 80px;
    }
    .reviews{
        height:60vh;
        background-image: url('<?php echo PUBLIC_PATH."img/fondo-review.png" ?>');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .theme-title{
        color:#171717
    }
    .grid-themes{
        display:grid;
        grid-template-columns: 16.2%  16.2%  16.2%  16.2%  16.2%  16.2%;
        grid-gap: 5px;
    }
    .grid-themes div{
        height:300px;
        background: linear-gradient(to bottom,#643ab6,#c52c62);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grid-themes div h3{
        text-align: center;
    }
    .flex-direction{
        flex-direction: column;
    }
    .includes{
        background: #0e1327;
    }
    .includes p{
        color:white;
    }
</style>