<section class="slider  d-flex align-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 texto-slider">
                <h1 class="title">Capacitacion de entrenadores de <span class="gold">beach volley</span></h1>
                <p>Creamos un espacio de aprendizaje</p>
                <button class="btn btn-success">SABER MAS</button>
            </div>
            <div class="col-md-6 col-12 d-flex justify-center">
                <?php echo Html::img("imagen-slider.png",null,"style='width: 65%;'")?>
            </div>
        </div>
    </div>
</section>

<section class="cursos d-flex align-center">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="card  curso1">
                    <?php echo Html::img("fotocurso1.jpg",null,'class="card-img-top"')?>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card  curso2">
                    <?php echo Html::img("fotocurso1.jpg",null,'class="card-img-top"')?>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card  curso3">
                    <?php echo Html::img("fotocurso1.jpg",null,'class="card-img-top"')?>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 mt-4">
                <h2 class="text-sm-right text-center">.Cursos</h2>
            </div>
        </div>
    </div>
</section>

<section class="portfolio d-flex align-center">
    <div class="container">
        <div class="grid-portfolio">
            <div class="single-portfolio">
                <div class="portfolio-layer">
                    <h3 class="portfolio-layer-title">Campeonato</h3>
                    <p>Chile 2019</p>
                </div>
                <div class="img-portfolio">
                </div>
            </div>
            <div class="single-portfolio">
                <div class="portfolio-layer">
                    <h3 class="portfolio-layer-title">Campeonato</h3>
                    <p>Chile 2019</p>
                </div>
                <div class="img-portfolio">
                </div>
            </div>
            <div class="single-portfolio">
                <div class="portfolio-layer">
                    <h3 class="portfolio-layer-title">Campeonato</h3>
                    <p>Chile 2019</p>
                </div>
                <div class="img-portfolio">
                </div>
            </div>
            <div class="single-portfolio">
                <div class="portfolio-layer">
                    <h3 class="portfolio-layer-title">Campeonato</h3>
                    <p>Chile 2019</p>
                </div>
                <div class="img-portfolio">
                </div>
            </div>
            <div class="single-portfolio">
                <div class="portfolio-layer">
                    <h3 class="portfolio-layer-title">Campeonato</h3>
                    <p>Chile 2019</p>
                </div>
                <div class="img-portfolio">
                </div>
            </div>
            <div class="single-portfolio">
                <div class="portfolio-layer">
                    <h3 class="portfolio-layer-title">Campeonato</h3>
                    <p>Chile 2019</p>
                </div>
                <div class="img-portfolio">
                </div>
            </div>
            <div class="single-portfolio">
                <div class="portfolio-layer">
                    <h3 class="portfolio-layer-title">Campeonato</h3>
                    <p>Chile 2019</p>
                </div>
                <div class="img-portfolio">
                </div>
            </div>
            <div class="single-portfolio">
                <div class="portfolio-layer">
                    <h3 class="portfolio-layer-title">Campeonato</h3>
                    <p>Chile 2019</p>
                </div>
                <div class="img-portfolio">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-12 mt-4">
                <h2 class="text-sm-right text-center">.Portfolio</h2>
            </div>
        </div>
    </div>
</section>

<section class="cursos d-flex align-center justify-center">
    <div class="container form">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="row no-gutters">
                    <div class="col-md-12 col-12 p-3">
                        <h2>Pongase en contacto</h2>
                        <p style="color:white;">Si esta interesado en trabajar con nosotros, contactenos.</p>
                    </div>
                    <div class="col-md-12 col-12 p-3">
                        <p><i class="fa fa-map"></i>&nbsp;&nbsp;Montevideo - Uruguay</p>
                    </div>
                    <div class="col-md-12 col-12 p-3">
                        <p><i class="fa fa-phone"></i>&nbsp;&nbsp;(+598) 092 373 228</p>
                    </div>
                    <div class="col-md-12 col-12 p-3">
                        <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:info@coachbeachvolley.com">info@coachbeachvolley.com</a></p>
                    </div>

                </div>
            </div>
            <div class="col-md-8 col-12">
                <form>
                    <div class="row no-gutters">
                        <div class="col-md-12 col-12 p-3">
                            <h2>Formulario</h2>
                        </div>
                        <div class="col-md-4 col-12 form-group  p-3 mb-0">
                            <input type="text" placeholder="Nombre" class="form-control">
                        </div>
                        <div class="col-md-4 col-12 form-group  p-3 mb-0">
                            <input type="text" placeholder="Email" class="form-control">
                        </div>
                        <div class="col-md-4 col-12 form-group p-3 mb-0">
                            <input type="text" placeholder="Asunto" class="form-control">
                        </div>
                        <div class="col-md-12  col-12 form-group p-3 mb-0">
                            <textarea type="text" placeholder="Asunto" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="col-md-12 col-12 p-3">
                            <button class="btn btn-success">ENVIAR AHORA</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
