<section class="slider  d-flex align-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 texto-slider">
                <h1 class="title">Introduccion a los fundamentos tecnicos del <span class="gold">beach volley</span>
                </h1>
                <button class="btn btn-success">COMPRE AHORA</button>
            </div>
            <div class="col-md-6 col-12 d-flex justify-center">
                <?php echo Html::img("imagen-slider.png",null,"style='width: 65%;'")?>
            </div>
        </div>
    </div>
</section>
<section class="middle-slider pt-2 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-12">
                <div class="row no-gutters">
                    <div class="col-md-4 col-12">
                        <h3>COMIENZA</h3>
                        <h3 class="gold">01/06/2020</h3>
                    </div>
                    <div class="col-md-4 col-12">
                        <h3>NIVEL</h3>
                        <h3 class="gold">Avanzado</h3>
                    </div>
                    <div class="col-md-4 col-12">
                        <h3>MODALIDAD</h3>
                        <h3 class="gold">Online</h3>
                    </div>
                    <div class="col-md-4 col-12">
                        <h3>DURACION</h3>
                        <h3 class="gold">6 semanas</h3>
                    </div>
                    <div class="col-md-4 col-12">
                        <h3>DEDICACION</h3>
                        <h3 class="gold">2/4 hs. semanales</h3>
                    </div>
                    <div class="col-md-4 col-12">
                        <h3>IMPARTIDO EN</h3>
                        <h3 class="gold">ESPAÑOL</h3>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-12 d-flex justify-center align-center">
                <button class="btn btn-success p-3">COMPRAR AHORA</button>
            </div>
        </div>
    </div>
</section>
<section class="reviews  d-flex justify-center align-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12  d-flex justify-center align-center">
                <div class="img-review">
                    <?php echo Html::img("comillas.png",null,"class='comillas'")?>
                    <?php echo Html::img("quien-soy.png")?>
                </div>
            </div>
            <div class="col-md-8 col-12   d-flex justify-center align-center">
                <p>
                    <b>
                        <i style="color:black;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.

                        </i>
                    </b>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="aboutme">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h3 class="title gold">Sobre mi</h3>
                <p>
                    <b>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel justo odio. Curabitur vestibulum
                        euismod est, at mollis felis elementum ac. Quisque vestibulum interdum nunc a vehicula. Fusce
                        bibendum luctus tortor ac maximus. In fringilla condimentum velit quis dignissim. Donec nisi
                        libero, sagittis sit amet ipsum quis, convallis malesuada diam. Nullam pretium dapibus justo,
                        non fermentum elit tincidunt non. Curabitur pharetra blandit ante ut auctor. Morbi quis
                        hendrerit lorem, imperdiet egestas enim. Orci varius natoque penatibus et magnis dis parturient
                        montes, nascetur ridiculus mus. Maecenas vel velit facilisis, fermentum nisl id, consequat
                        felis. Donec nec nisi accumsan leo rhoncus suscipit. Quisque rutrum ac metus eu ultricies. Sed
                        nisl purus, lacinia in accumsan in, sollicitudin ut nulla.
                    </b>
                </p>
                <p>
                    <b>
                        Aliquam bibendum ac lorem vel efficitur. Nam porttitor leo in feugiat congue. Vestibulum
                        venenatis ut odio at porttitor. Vestibulum massa neque, laoreet sit amet elit in, suscipit
                        tincidunt neque. Pellentesque dictum neque id pharetra porta. Praesent eget rhoncus mauris, sit
                        amet elementum sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                        cubilia curae; Praesent tempus ipsum sed sapien faucibus, sed porta turpis molestie. Quisque
                        quis pretium erat. Sed et ligula ac erat vulputate egestas. Fusce sit amet purus mattis eros
                        fermentum tempor. Mauris venenatis vulputate dui eu ultrices. Etiam vulputate erat eu purus
                        elementum, id interdum magna sagittis. Maecenas quis lorem pretium, pulvinar turpis ac,
                        ullamcorper purus. Sed tincidunt viverra turpis, quis tempus urna ornare sit amet. Mauris
                        efficitur ligula eu interdum dapibus.
                    </b>
                </p>
                <p>
                    <b>
                        Aenean vitae ultrices magna. Praesent sagittis est urna, et ornare ligula posuere a. Vestibulum
                        blandit vel metus sed congue. Maecenas dapibus dictum facilisis. Aliquam vulputate lectus at
                        libero fringilla condimentum. Cras non mauris euismod lorem consequat facilisis. Orci varius
                        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin leo eros,
                        auctor sed ultricies in, facilisis a nulla.
                    </b>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="portfolio  pt-3">
    <div class="container-fluid d-flex justify-center flex-direction">
        <div class="row mt-3">
            <div class="col-12 col-md-12">
                <h2 class="text-center theme-title">TEMAS DEL CURSO</h2>
                <p class="text-center">
                    <b>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </b>
                </p>
            </div>
        </div>
        <div class="grid-themes">
            <div>
                <h3>1<br>Saque</h3>
            </div>
            <div>
                <h3>1<br>Recepcion</hh32>
            </div>
            <div>
                <h3>1<br>Armado</h3>
            </div>
            <div>
                <h3>1<br>Ataque</h3>
            </div>
            <div>
                <h3>1<br>Bloqueo</h3>
            </div>
            <div>
                <h3>1<br>Defensa</h3>
            </div>
        </div>
    </div>
</section>


<section class="includes  pt-4 pb-4">
    <div class="container d-flex justify-center flex-direction">
        <div class="row mt-3 mb-4">
            <div class="col-12 col-md-12">
                <h3 class="text-center" style="font-size: 40px;">QUE INCLUYE?</h3>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-4 col-12  d-flex align-center justify-center flex-direction pb-4">
                <?php echo Html::img("acceso.png")?>
                <p><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</b></p>
            </div>
            <div class="col-md-4 col-12  d-flex align-center justify-center flex-direction pb-4">
                <?php echo Html::img("Acompaniamiento.png")?>
                <p><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</b></p>

            </div>
            <div class="col-md-4 col-12  d-flex align-center justify-center flex-direction  pb-4">
                <?php echo Html::img("Actividades.png")?>
                <p><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</b></p>

            </div>
            <div class="col-md-4 col-12  d-flex align-center justify-center flex-direction">
                <?php echo Html::img("forosdedebate.png")?>
                <p><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</b></p>

            </div>
            <div class="col-md-4 col-12  d-flex align-center justify-center flex-direction">
                <?php echo Html::img("certificado.png")?>
                <p><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</b></p>

            </div>
            <div class="col-md-4 col-12 d-flex align-center justify-center flex-direction">
                <?php echo Html::img("autoelevaciones.png")?>
                <p><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</b></p>

            </div>
        </div>
    </div>
</section>